.img-responsive {
    max-width: 100%;
    height: auto;
}

.hidden-xs {
    display: none;
    @media(min-width: $screen-sm-min) {
        display: initial;
    }
}

.u-align-items-center {
    align-items: center;
}